<!DOCTYPE html>
	<html>
		<head>
			<title>Brandon's Website!</title>
            <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
        </head>

        <body>
            <div  id="header">
                <h1>
                    Wecome to Brandon's Website           
                </h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/notes/notes-main.html">Notes</a></li>
                </ul>
            </div>
            <div id="content">
                {{ content }}
            </div>
        </body>
    </html>
