<!DOCTYPE html>
	<html>
		<head>
            <title>{{ page.title }}</title>
            <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        </head>

        <body>
            <div  id="header">
                <h1>
                    Welcome to Brandon's Website           
                </h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/GSoC/GSoC_main.html">GSoC</a></li>
                    <li><a href="/notes/notes_main.html">Notes</a></li>
                    <li><a href="/projects/projects_main.html">Projects</a></li>
                    <li><a href="/useful_links_page.html">Links</a></li>
                </ul>
            </div>
            <div id="content">
                {{ content }}
            </div>
        </body>
    </html>
